*{
    margin: 0px;
    padding: 0px;
}
nav{
    display: flex;
    background-color: bisque;
    padding: 20px;
}
ul{
    display: flex;
    gap: 20px;
    text-decoration: none;
    justify-content: end;
}
h1{
    margin: 30px;
    color: black;
    background-color: bisque;
    max-width: fit-content;
    padding: 20px;
    
}

p{
    margin: 30px ;
}
